<h3>Tasks List</h1>
<p><%= notice%></p>
<table>
    <tr>
        <!-- <th>title</th> -->
        <th>names</th>
        <th>details</th>
    </tr>
    <% @task.each do |task| %>
        <tr>
          <td><%= task.name %></td> 
          <td><%= task.detail %></td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to 'New  Task', new_task_path%>